<html lang="en">
<head>
  <title>IKT SCHOOL</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <style>
footer{
position:fixed;
bottom:0;
width:100%;
}

.button {
    display: block;
    width: 115px;
    height: 45px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}
body{
background-image: url(static/img/bg2.jpg);
background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1,p{color:white;}
  </style>
</head>
<body>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">IKTHSS</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="logout">Logout</a>
    </li>

  </ul>
    <div><div></div></div><!-- Dropdown -->

</nav>
<center>
<div class="container" >
    <div class="container">
            <!--<img src="images/about.jpg">-->
            <h1>WELCOME TO IKTHSS CHERUKULAMBA</h1>
            <p>"The great aim of education is not knowledge but action.”—Herbert Spencer </p><br><br><br>
      <!--<a  class="button" href="Login">Login</a>-->
        </div>
</div>
</center>
<br>


<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->






  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
     © 2023 Copyright:
    <a class="text-white" href="/">IKTHSS</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>